doctype html
html(ng-app="app")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    script(src="libs.bundle.js")
    script(src="main.bundle.js")
    title Angular Webpack Seed
  body
    div(ui-view)
          